<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <app-search (searchResult)="getAmazonAsins($event)"
                  (beginSearch)="showLoader = true"></app-search>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-primary" (click)="resetData()">reset data table</button>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info" *ngIf="showGotAsins">
        <strong>Info!</strong> I got the Asin's, working on product data
      </div>
    </div>
    <div class="col-md-12" *ngIf="showTable">
      <div class="title">merged lists</div>
      <p-dataTable [value]="scraperData" *ngIf="scraperData" >
        <p-column field="isGood" header="is good deal" [sortable]="true"></p-column>
        <p-column field="title" header="title walmat"></p-column>
        <p-column field="title" header="title amazon"></p-column>
        <p-column field="price" header="price walmat"></p-column>
        <p-column field="priceAmazon" header="price amazon"></p-column>
        <p-column field="salesRank" header="sales rank"></p-column>
        <p-column field="url" header="url walmart">
          <ng-template let-col let-url="rowData" pTemplate="body">
            <a href="{{url[col.field]}}" target="_blank">{{url[col.field]}}</a>
          </ng-template>
        </p-column>
        <p-column field="asin" header="link to amazon">
          <ng-template let-col let-url="rowData" pTemplate="body">
            <a href="{{'https://www.amazon.com/dp/' + url[col.field]}}" target="_blank">{{url[col.field]}}</a>
          </ng-template>
        </p-column>
        <p-column field="image" header="image walmart">
        <ng-template let-col let-img="rowData" pTemplate="body">
          <img src="{{img[col.field]}}">
        </ng-template>
      </p-column>
        <p-column field="amazonImage" header="image amazon">
          <ng-template let-col let-img="rowData" pTemplate="body">
            <img src="{{img[col.field]}}">
          </ng-template>
        </p-column>
      </p-dataTable>
    </div>
  </div>
  <app-loader *ngIf="showLoader"></app-loader>
</div>
